{% extends 'famous/base.html' %}

{% block content %}
<div class="content-text">
<p>ABOUT THE FAMOUS PEOPLE<p>

    <p>Every life has a story. Our site captures the most gripping, surprising and fascinating stories about people. The last fateful day. The decision that changed everything. The moment of cheating death. The biggest break. The defining opportunity. The most shattering failure. The unexpected connection. With biographies and daily features that highlight newsworthy, compelling and surprising points-of-view, we are the digital source for true stories about people that matter.<p/>

	</div>


{% endblock %}
